@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Robot Slab", serif;
}


body {
  background-color: #05101c;
  color: white;
}

.logo {
  filter: invert(100%);
  background: transparent;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-inline: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiInputBase-input {
  z-index: 1;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
 border-color: white !important;
}

.MuiTouchRipple-root{
  display: none !important;
}